#root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

model-viewer {
    --progress-bar-color: transparent;

    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    background: #fff;

    & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.ar {
    model-viewer {
        max-height: 70vh;
    }
}

.action-bar {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 8px;

    & ~ .action-bar {
        top: 66px;
    }
}

.navigation {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 20px;
    display: flex;
    gap: 10px;
    opacity: 0;
    transition: opacity 0.2s;

    &:hover {
        opacity: 1;
    }

    button {
        &:first-of-type {
            transform: rotate(180deg);
        }
        svg {
            display: block;
        }
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.ar {
    display: flex;
    width: 100%;

    div {
        flex: 1 1 33.33%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & + div {
            border-left: 1px solid #e7e6e9;
        }

        img {
            object-fit: contain;
            &:first-of-type {
                flex: 1 1 auto;
                max-height: 500px;
                height: 100%;
            }
        }
    }

    .qr {
        flex: 0 0 300px;
        max-width: 300px;
    }
}

.index {
    width: 100vw;
    height: 100vh;
}

.box-small {
    width: 74px;
    height: 36px;
    background: #f7f6f9;
    border-radius: 4px;
}

main {
    padding: 50px;
    max-width: 80vw;
    margin: 0 auto;
}

.product {
    display: flex;
    gap: 20px;
}

header {
    padding: 0 50px;
    border-bottom: 1px solid #e7e6e9;

    & > div {
        max-width: 80vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 64px;
        margin: 0 auto;
    }
}

.product-area {
    width: 600px;
    height: 500px;
    background: #f7f6f9;
    border-radius: 4px;
    flex: 1 1 50%;
    position: relative;
}

.product-info,
.product-details {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1 1 50%;

    & div {
        background: #f7f6f9;
        border-radius: 4px;
    }

    .type {
        width: 120px;
        height: 30px;
        margin-bottom: 15px;
    }

    .title {
        width: 400px;
        height: 50px;
        margin-bottom: 80px;
    }

    .desc {
        width: 320px;
        height: 20px;
        margin-bottom: 10px;

        & + .desc {
            margin-top: 10px;
        }

        &.last {
            width: 220px;
        }
    }

    .button-wrapper {
        position: absolute;
        bottom: 0;
        right: 0;

        button + button {
            margin-left: 20px;
        }
    }
}

.product-info {
    flex-direction: row;
    margin-top: 150px;
    gap: 20px;

    & > * {
        flex: 1 1 50%;
        width: 50%;
    }

    .desc {
        width: 460px;
    }
}

.slide {
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .loader {
        width: 40px;
        height: 40px;
    }

    .image-cover {
        object-fit: cover;
    }
}

.green,
.yellow {
    &.circle {
        width: 200px;
        height: 200px;
        border-radius: 50%;

        &.on-image {
            position: absolute;
            width: 100px;
            height: 100px;
            left: 26%;
            top: 10%;
        }
    }

    &.side {
        position: relative;
        width: 24px;
        height: 200px;
        border-radius: 10px;

        .side-small {
            position: absolute;
            left: 100%;
            width: 10px;
            height: 100px;
            background: #fdda0d;
            top: 50%;
            transform: translateY(-50%);
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }

    &.frame {
        border-radius: 20px;
    }
}

.yellow {
    background: #fdda0d;
}
.green {
    background: #e3e543;
}

.custom-button {
    width: 120px;
    text-alight: center;
    position: relative;

    .loader {
        left: -10px;
        top: 2px;
    }
}

.loader {
    position: absolute;
    animation-name: spin;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
